<footer>

  <div class="container-fluid">
      <div class="row justify-content-evenly bg-dark text-white pt-5 pb-5">
        <div class="col-5">
          <p>DKDB is a Knowledge Base creation in the medical domain in which we try to include both general information and data about drug and clinical trials along with gene encodings of diseases using Natural Language Processing.</p>
        </div>
        <div class="col-2">
          <p>
            <a href="#" class="link-light text-decoration-none">About</a><br>
            <a href="#" class="link-light text-decoration-none">Blog</a><br>
            <a href="#" class="link-light text-decoration-none">Support</a><br>
          </p>
        </div>
        <div class="col-2">
          <p>
            <a href="#" class="link-light text-decoration-none">Terms</a><br>
            <a href="#" class="link-light text-decoration-none">Privacy</a><br>
            <a href="#" class="link-light text-decoration-none">Security</a><br>
          </p>
        </div>
        <div class="col-2">
          <p>
            <i class="bi bi-twitter"></i><a href="#" class="link-light text-decoration-none"> Twitter</a><br>
            <i class="bi bi-instagram"></i><a href="#" class="link-light text-decoration-none"> Instagram</a><br>
            <i class="bi bi-facebook"></i><a href="#" class="link-light text-decoration-none"> Facebook</a><br>
          </p>
        </div>
      </div>
  </div>
</footer>