<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">DKDB</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="intro">
        <h1>Welcome to DKDB</h1>
        <div>DKDB is a Disease Knowledge Database. 
            Knowledge Base creation in the medical domain has always been a challenging
            task and the present Electronic Health Records held by the healthcare
            professionals cannot handle data on a scale and various limitations occur
            when newer technologies like Machine Learning are used on the data for
            research due to imprecision of the data and the anomalies present. Gathering
            information and maintaining it on a scale is also a task that cannot be done
            using manual work and requires technologies like AI and Natural Language
            Processing. Some EHRs contain only basic information about diseases while
            some contain advanced information regarding phenotypes and gene encoding.
            We try to include both general information and data about drug and clinical
            trials along with gene encodings of diseases using Natural Language
            Processing.</div>
    </section>
    <section id="resources">
        <h3>Resources</h3>
        <ul>
            <li><a href="https://rarediseases.info.nih.gov/diseases">Genetic and Rare Diseases Information</a></li>
            <li><a href="https://hpo.jax.org/app/">Human Phenotype Ontology</a></li>
            <li><a href="https://go.drugbank.com/">Drug Bank</a></li>
            <li><a href="https://en.wikipedia.org/wiki">Wikipedia</a></li>
            <li><a href="https://www.genecards.org">Gene Cards</a></li>
        </ul>
    </section>
    <footer>

    </footer>
</body>
</html>